:root {
  // Light Red
  --redL-light-1: #faddd1;
  --redL-light-2: #f4b69c;
  --redL-medium-1: #ee8f66;
  --redL-medium-2: #e86830;
  --redL-medium-3: #c74b16;
  --redL-dark-1: #913710;
  --redL-dark-2: #5c230a;

  // Red
  --red-light-1: #fad3d1;
  --red-light-2: #f4a09c;
  --red-medium-1: #ee6d66;
  --red-medium-2: #e83a30;
  --red-medium-3: #c71f16;
  --red-dark-1: #911710;
  --red-dark-2: #5c0e0a;

  // Violet
  --violet-light-1: #fad1e6;
  --violet-light-2: #f49cc8;
  --violet-medium-1: #ee66aa;
  --violet-medium-2: #e8308c;
  --violet-medium-3: #c7166f;
  --violet-dark-1: #911051;
  --violet-dark-2: #5c0a33;

  // Purple
  --purple-light-1: #e5d1fa;
  --purple-light-2: #c69cf4;
  --purple-medium-1: #a866ee;
  --purple-medium-2: #8930e8;
  --purple-medium-3: #6c16c7;
  --purple-dark-1: #4f1091;
  --purple-dark-2: #320a5c;

  // Blue
  --blue-light-1: #d4d1fa;
  --blue-light-2: #a39cf4;
  --blue-medium-1: #7166ee;
  --blue-medium-2: #4030e8;
  --blue-medium-3: #2516c7;
  --blue-dark-1: #1b1091;
  --blue-dark-2: #110a5c;

  // Blue Light
  --blueL-light-1: #d1e3fa;
  --blueL-light-2: #9cc2f4;
  --blueL-medium-1: #66a1ee;
  --blueL-medium-2: #3080e8;
  --blueL-medium-3: #1663c7;
  --blueL-dark-1: #104891;
  --blueL-dark-2: #0a2e5c;
  
  // Blue Sky
  --bluesky-light-1: #d1f3fa;
  --bluesky-light-2: #9ce5f4;
  --bluesky-medium-1: #66d7ee;
  --bluesky-medium-2: #30c9e8;
  --bluesky-medium-3: #16a9c7;
  --bluesky-dark-1: #107c91;
  --bluesky-dark-2: #0a4e5c;

  // Blue Green
  --bluegreen-light-1: #d1faf0;
  --bluegreen-light-2: #9cf4df;
  --bluegreen-medium-1: #66eece;
  --bluegreen-medium-2: #30e8bd;
  --bluegreen-medium-3: #16c79e;
  --bluegreen-dark-1: #109173;
  --bluegreen-dark-2: #0a5c49;

  // Green
  --green-light-1: #d1fad7;
  --green-light-2: #9cf4a7;
  --green-medium-1: #66ee78;
  --green-medium-2: #30e849;
  --green-medium-3: #16c72e;
  --green-dark-1: #109121;
  --green-dark-2: #0a5c15;

  // Green Light
  --greenL-light-1: #ebfad1;
  --greenL-light-2: #d4f49c;
  --greenL-medium-1: #bcee66;
  --greenL-medium-2: #a5e830;
  --greenL-medium-3: #86c716;
  --greenL-dark-1: #629110;
  --greenL-dark-2: #3e5c0a;

  // Yellow
  --yellow-light-1: #faf9d1;
  --yellow-light-2: #f4f19c;
  --yellow-medium-1: #eee966;
  --yellow-medium-2: #e8e230;
  --yellow-medium-3: #c7c116;
  --yellow-dark-1: #918d10;
  --yellow-dark-2: #5c590a;

  // Yellow Orange
  --yelloworange-light-1: #faefd1;
  --yelloworange-light-2: #f4dc9c;
  --yelloworange-medium-1: #eeca66;
  --yelloworange-medium-2: #e8b730;
  --yelloworange-medium-3: #c79816;
  --yelloworange-dark-1: #916f10;
  --yelloworange-dark-2: #5c460a;

  // Orange
  --orange-light-1: #fae6d1;
  --orange-light-2: #f4c89c;
  --orange-medium-1: #eeaa66;
  --orange-medium-2: #e88c30;
  --orange-medium-3: #c76f16;
  --orange-dark-1: #915110;
  --orange-dark-2: #5c330a;

  // Orange Medium
  --orangeM-light-1: #f2e2d9;
  --orangeM-light-2: #e3c0ac;
  --orangeM-medium-1: #d59f80;
  --orangeM-medium-2: #c67d53;
  --orangeM-medium-3: #a66037;
  --orangeM-dark-1: #794628;
  --orangeM-dark-2: #4d2c19;

  // Neutral
  --neutral-white-1: #ffffff;
  --neutral-white-2: #e4e4e4;
  --neutral-grey-1: #b4b4b4;
  --neutral-grey-2: #848484;
  --neutral-grey-3: #545454;
  --neutral-black-1: #242424;
  --neutral-black-2: #000000;
}